<div class="d-flex flex-column align-items-center justify-content-center h-25 ms-2">

<h1>Editar aluno</h1>

<%= render "form", aluno: @aluno %>

<br>

<div>
  <%= link_to "Exibir aluno", @aluno %> |
  <%= link_to "Voltar", alunos_path %>
</div>
</div>
